altair
attrs
backports.zoneinfo
blinker
cachetools
certifi
charset-normalizer
click
colorama
decorator
distutils
Flask
Flask-Cors
gitdb
GitPython
gunicorn
idna
imbalanced-learn
imblearn
importlib-metadata
importlib-resources
itsdangerous
Jinja2
joblib
jsonschema
markdown-it-py
MarkupSafe
mdurl
mkl-fft
mkl-random
mkl-service
setuptools==68.0.0
numpy>=1.21.6,<=1.24.0
packaging
pandas
Pillow
pkgutil_resolve_name
protobuf
pyarrow
pydeck
Pygments
Pympler
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
pywin32; sys_platform == 'win32'
requests
rich
scikit-learn==0.22.1
scipy
six
smmap
streamlit
tenacity
toml
toolz
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
Werkzeug
wincertstore
xgboost
zipp
